
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Json Client</title>
    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
</head>
<body>

    <h1>Students from API</h1>
    <button id="btn">Get Students</button><br />
    <ul id="students"></ul>


    <script>
        $("#btn").click(function () {
            $("#students").empty();
            $.getJSON("/api/StudentsApi", function (result) {
                $.each(result, function (i, field) {
                    $("#students").append('<li class="btnSingle"><a href="#" data-id="'+ field.Id+'">' + field.Name + '</a></li>');
                })

                $(".btnSingle").click(function () {
                    event.preventDefault();
                    $("#description").remove();
                    $(".clicked").removeClass("clicked");

                    $(this).addClass("clicked");
                    var requestID = $(this).find('a').data("id");

                    $.ajax({
                        url: "/api/StudentsApi/" + requestID,
                        context: document.body,
                        type: "GET",
                        dataType: "json",
                        success: function (result) {
                            var toAppend = '<ul id="description"><li>' + result.Name + '</li><li>' + result.Birthdate + '</li></ul>';

                            $('.clicked').append(toAppend);
                        }
                    })
                })
            })
        })

        

    </script>

</body>
</html>
